<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/antd.css" />
    <link rel="stylesheet" href="{{ frontendAssets.css ?? '' }}">
    <script type="text/javascript">
        {% block headScript %}{% endblock %}
    </script>
</head>
<body>
<div id="app-root"></div>
<script src="{{ frontendAssets.js ?? '' }}"></script>
</body>
</html>
