{% extends 'layouts/error.twig' %}
{% block body %}
    <div class="ant-result ant-result-500">
        <div class="ant-result-title">500</div>
        <div class="ant-result-subtitle">{{ errorData.error }}</div>
        <div class="ant-result-extra">
            <a class="ant-btn ant-btn-primary" href="/">
                <span>{{ backHomeLabel }}</span>
            </a>
        </div>
    </div>
{% endblock %}
{# {% block body %} #}
{#    <h1 style="font-size: 7rem !important;">{{ code ?? 500 }}</h1> #}
{#    <p> #}
{#        {{ message ?? '' }} #}
{#    </p> #}
{# {% endblock %} #}